@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.container {
  display: flex;
  margin-left: 100px;
  font-family: 'Open Sans', sans-serif;
  padding: 30px;
  flex-direction: column;
  
}

.pic {
 
}

.rightSide {
  display: flex;
  flex-direction: column;
  margin: 10px;
  margin-left: 20px;
}

.name {
  font-size: 30px;
  margin-bottom: 3px;
  font-weight: 900;
  margin-left: 20px;
}

.nameBox {
    border: .1px solid #AB2A19;
    border-radius: 2px;
    margin: 0px;
    height: 50px;
    width: 500px;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.price {
  font-size: 30px;
  margin-bottom: 3px;
  font-weight: 900;
  margin-left: 20px;

}
.currencyinput {
  border: .1px solid #AB2A19;
  border-radius: 2px;
  margin: 0px;
  height: 50px;
  width: 500px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
.currencyinput input {
  border: 0;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
  
}



.editDelete {
  width: 150px;
  height: 45px;
  background-color: #d8d8d8;
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 27px;


}


.save {
  margin-top: 20px;
  width: 500px;
  height: 60px;
  background-color: #40F99B;
  border: none;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 900;
  font-size: 27px;
}
